* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  /* background-color: black; */
  color: white;
  /* background-image: url('../images/denim.png'); */
  background-color: #d4b9b9; 
  background-image: url('../images/characters_art_mas_mob_01.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

header { 
  background-color: red; 
  position: sticky; 
  top: 0;
}

header nav { position: relative; }

header nav ul { 
  list-style-type: none; 
  position: absolute; 
  top: -45px; 
  right: 20px; 
}

header nav ul li { 
  margin: 0 8px; 
  display: inline-block;
  cursor: pointer;
}

/* add a down arrow after the last list item */


header nav ul li:hover { opacity: 0.8; }

#main-logo { width: 200px; padding: 10px 0 10px 10px; }

#character-nav { 
  text-align: center; 
  padding-top: 16px;
  margin-bottom: 1em;
}

.characters { list-style-type: none; }

.characters li { 
  display: inline-block;
  position: relative;
  width: 220px;
  height: 220px;
  margin: 10px 8px;
  background-color: black;
  border-radius: 12px;
  border: 4px solid #333;
  padding-top: 8px;
  text-align: center;
  overflow: hidden;
}

.characters li div { 
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid white;
  overflow: hidden;
  transform: rotate(-20deg);
  margin: 0 auto 1em auto;
}

.characters li img { max-width: 100%; }

/* ::after rules go here */

article {
  padding: 20px;
}

article h3 { 
  font-size: 2.5em; 
  text-align: center; 
  margin-bottom: 14px;
}

article p { 
  width: 80%; 
  font-size: 18px; 
  line-height: 1.2; 
  text-align: center;
  margin: 0 auto;
}

footer { 
  color: white;
  padding: 20px 0;
  text-align: center; 
}

.sticky_footer {
  position: sticky;
  top: 100%;

  height: 80px;
  background-color: rgb(40, 37, 37);
}